[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pymongo = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
pmlb = "*"

[dev-packages]

[requires]
python_version = "3.7"
